* {
  margin: 0;
  padding: 0;
}

body {
  background: url("./images/ice.jpg");
  width: 100vw;
}

a {
  font-weight: bolder;
  text-decoration: none;
  color: dodgerblue;
  text-decoration: underline;
}

iframe {
  border: none;
}
